/*selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* tipografía del nombre de la marca y de la barra de navegación*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
/* font-family: 'Lemon', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/* font-family: 'Crimson Text', serif; */
/* color rojo #CD1A1A */
/* colores de las letras */
.rojo{
    color: #CD1A1A;
}
.blanco{
    color: #ffffff;
}


/* header */

/* header{
height: 13.75rem;
background-image: url(../assets/header.jpg);
width: 100%;
background-size: cover;
background-position: 0% 50%;
} */

header{
    display: flex;
    height: 3.125rem;
    /* background-color: rgb(197,205,214); */
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-position: 0% 42%;
    position: sticky;
    top: 0;
    z-index: 4;
}



/* banner */



.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13.75rem;
    background-image: url(../assets/header.jpg);
    width: 100%;
    background-size: cover;
    background-position: 0% 60%;
}


h1{
    margin-bottom: 1.25rem;
    justify-content: center;
    text-align: center;
    font-family: 'Lemon', cursive;
    font-size: 3.125rem;
}


.banner div p{
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}


.informacion{
    margin-top: 1.25rem;
    font-size: 3.75rem;
    color: #CD1A1A;
}




/* barra de navegación */



.logo{
    margin-top: .9375rem;
}

.logo p a{
    text-decoration: none;
    color: #CD1A1A;
}


.logo p{
    font-family: 'Lemon', cursive;
    font-size: 1.25rem;
    margin-left: 1.25rem;
    font-weight: bold;
}

.navBar li{
    list-style: none;
}

.navBar li a{
    text-decoration: none;
    color: #000000;
    font-family: 'Crimson Text', serif; 
    font-size: 1.25rem;
}



/* navegador */



nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navBar{
    display: flex;
    gap: 1.25rem;
    margin-right: 1.25rem;
    margin-top: .9375rem;
}




/* aca estan los main */


/* main index */



main section div a img{
    height: 31.25rem;
    width: 18.75rem;
    border-radius: .625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    box-shadow: 0rem .3125rem .625rem white;
}


.contenedorMainIndex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


h2{
    padding-top: 3.125rem;
    text-align: center;
    color: #ffffff;
    font-size: 3.125rem;
}


.certificaciones{
    display: grid;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: .625rem;
    padding-bottom: 1.25rem;
    height: 700px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: .625rem;
}


.certificacionCambridge{
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/9;
}

.certificacionCambridge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.certificacionDisplay{
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 1/4;
}

.certificacionDisplay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.certificacionSearch{
    width: 100%;
    height: 100%;
    grid-column: 7/9;
    grid-row: 1/4;
}

.certificacionSearch img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.certificacionCoderHouse{
    width: 100%;
    height: 100%;
    grid-column: 5/9;
    grid-row: 4/9;
}

.certificacionCoderHouse img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.certificaciones img{
    border-radius: 1.25rem;
}




/* página "sobre mi" */




.misImagenes{
    display: grid;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; 
    padding-top: .625rem;
    padding-bottom: 1.25rem;
    height: 700px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: .625rem;
}


.imagen1{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/6;
}

.imagen2{
    width: 100%;
    height: 100%;
    grid-column: 3/5;
    grid-row: 1/5;
}

.imagen3{
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 1/5;
}

.imagen4{
    width: 100%;
    height: 100%;
    grid-column: 7/9;
    grid-row: 1/9;
}

.imagen5{
    width: 100%;
    height: 100%;
    grid-column: 3/5;
    grid-row: 5/9;
}

.imagen6{
    width: 100%;
    height: 100%;
    grid-column: 5/7;
    grid-row: 5/9;
}

.imagen7{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 6/9;
}

.misImagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .625rem;
}





/* imagen de fodo de todos los main */



main{
    
    background-image: url(../assets/fondoNegro.jpg);
    background-size: cover;
}



/* tamaño de los aside de todos los main */


main aside img{
    height: 31.25rem;
    width: 25rem;
    border-radius: .625rem;
}


.sectionPrincipalMain{
    display: flex;
    height: 25rem;
}



/* los aside de los main */



.sectionPrincipalMain aside {
width: 30%;
height: 6.25rem;
margin: .9375rem;
border-radius: .625rem;
box-shadow: .0625rem .0625rem .625rem white;
}

.sectionPrincipalMain aside img{
    width: 100%;
    height: 18.75rem;
}




/* la información al costado del aside */


.sectionPrincipalMain section h2{
    font-size: 2.5rem;
}

.sectionPrincipalMain section {
    font-size: 1.125rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* icono de whatsapp */



.whatsapp{
    display: flex;
    position: fixed;
    bottom: 2.5rem;
    right: 3.125rem;
}
.whatsapp a img{
    height: 3.75rem;
    width: 3.75rem;
}




/* footer */




footer{
    height: 12.5rem;
    width: 100%;
    background-image: url(../assets/footer.jpg);
    background-size: cover;
}

footer h2{
    text-align: center;
    font-size: 3.125rem;
}

footer li{
    list-style: none;
}




/* contendor donde van las redes sociales */



.contenedorFooter{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-around;
}


@media (max-width: 1024px){


    header{
        background-image: none;
        background-color: #c5cdd6;
    }


    .contenedorMainIndex{
        display: flex;
        justify-content: space-evenly;
        
    }


    .contenedorMainIndex img{
        height: 15.625rem;
        width: 12.5rem;

    }
}




@media (max-width: 768px){

    header{
        background-image: none;
        background-color: #c5cdd6;
    }

    .contenedorMainIndex{
        display: flex;
    }
}




@media (max-width: 425px){
    header{
        width: 100%;
        height: 6.25rem;
    }

    nav{
        flex-direction: column;
    }

    nav p{
        text-align: center;
    }

    .banner{
        height: 28.125rem;
        padding-top: 6.25rem;
        
    }

    h1{
        padding-bottom: 2.1875rem;
    }

    .contenedorMainIndex{
        display: flex;
        justify-content: space-evenly;
        gap: .625rem;
    }
    .contenedorMainIndex img{
        height: 12.5rem;
        width: 9.375rem;

    }

    .certificaciones{
        display: grid;
        width: 80%;
        justify-content: s;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    .certificacionCambridge{
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/5;
    }
    
    .certificacionDisplay{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
    .certificacionSearch{
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 3/5;
    }
    
    .certificacionCoderHouse{
        width: 100%;
        height: 100%;
        grid-column: 1/3;
        grid-row: 5/9;
    }

    .whatsapp a img{
        height: 2.5rem;
        width: 2.5rem;
    }





/* pagina sobre mi  */



.sectionPrincipalMain{
    height: 18.75rem;
}
    .sectionPrincipalMain aside{
        height: 6.25rem;
    }
    .sectionPrincipalMain aside img{
        height: 12.5rem;
    }

    .misImagenes{
        display: grid;
        width: 90%;
        height: 600px;
        margin-right: 5%;
        margin-left: 5%; 
        padding-top: .625rem;
        padding-bottom: 1.25rem;
        height: 700px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: .625rem;
    }
    

    .imagen1{
        width: 100%;
        height: 100%;
        grid-column: 1/5;
        grid-row: 1/6;
    }

    .imagen2{
        display: none;
    }

    .imagen3{
    display: none;
    }

    .imagen4{
        width: 100%;
        height: 100%;
        grid-column: 5/9;
        grid-row: 1/6;
    }

    .imagen5{
        width: 100%;
        height: 100%;
        grid-column: 5/9;
        grid-row: 6/9;
    }

    .imagen6{
        display: none;
    }

    .imagen7{
        width: 100%;
        height: 100%;
        grid-column: 1/5;
        grid-row: 6/9;
    }
    
    .misImagenes img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .625rem;
    }

    footer h2{
        font-size: 1.875rem;
    }
    
    .contenedorFooter img{
        height: 1.875rem;
    }

}





@media (max-width: 375px){
    header{
        height: 4.6875rem;
    }

    .navBar{
        justify-content: center;
        gap: .625rem;
        margin-left: .625rem;
    }

    .logo p a{
        font-size: 1.25rem;
    }

    .navBar li a{
        font-size: .9375rem;
    }

    .contenedorMainIndex{
        display: flex;
        justify-content: space-evenly;
        gap: .625rem;
    }

    .contenedorMainIndex img{
        height: 12.5rem;
        width: 9.375rem;

    }

    
}




@media (max-width: 320px){

    header{
        height: 6.25rem;
        position: absolute;
    }

    .navBar{
        margin-left: 1.25rem;
    }

    .banner{
        height: 31.25rem;
    }   

    .contenedorMainIndex{
        display: flex;
        justify-content: space-evenly;
        gap: .625rem;
    }

    .contenedorMainIndex img{
        height: 12.5rem;
        width: 9.375rem;

    }
    }

    .whatsapp{
        bottom: .9375rem;
        right: .9375rem;
    }
    
}
