
@media (max-width: 768px){

    header{
        height: 5rem; 
        background-image: none;
        background-color: #c5cdd6;
    }

    .contenedorMainIndex{
        display: flex;
    }

    .banner{
        height: 18.75rem;
    } 
}
