
.sectionPrincipalMain{
    display: flex;
    height: 25rem;


    aside {
        width: 30%;
        height: 100%;
        margin: .9375rem;
        padding-bottom: 3.125rem;

        img{
            
            height: 100%;
            width: 100%;
            border-radius: .625rem;
            border-radius: .625rem;
            box-shadow: .0625rem .0625rem .625rem white;
        }
        }

        .blanco{

            h2{
                font-size: 2.5rem;
            }

            font-size: 1.125rem;
            width: 70%;
            @include flex (column, nowrap, center, center, 0);
            color: map-get($colores , blanco );

            strong{
                color: map-get($colores, rojo );
            }
        }
}
